/*
Font Style
*/
body {
  background-color: gray;
}

h1 {
  font-family: verdana;
  color: white;
  text-align: center;
}

h2 {
  font-family: verdana;
  color: white;
  text-align: center;
  font-size:16px;
}

p {
  font-family: verdana;
  text-align: center;
  font-size: 14px;
}

a {
  font-family: verdana;
  color: white;
  text-align: center;
}

/*
Containers Styles
*/
.query-container {
  text-align:center;
  display:block;
  align-items: center;
  background-color: black;
}

.query-container > div {
  margin: 2%;
  text-align:center;
}

.results-container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  background-color: black;
  justify-content: center;
}

.results-container > div {
  text-align:center;
  margin: 2%;
}
